@using ImaginaryShop.Model.Services
@inject CategoryService CategoryService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImaginaryShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ImaginaryShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
<body>
 
    <header>

      

        <div class="row" style="padding:10px">
            <div class="col-lg-3 col-md-3">
              @*   <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div> *@
            </div>
           @*  <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li class="active"><a href="./shop.html">Shop</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contacts</a></li>
                    </ul>
                </nav>
            </div> *@
            <div class="col-lg-12 col-md-12">
                <div class="flex-right">
                   @*  <a href="#" class="search-switch"><img src="imgs/search.png" alt=""></a>

                    <a asp-page="/CreateAccount">aaaa
                   
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </a> *@


                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle currencyBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

                            @{
                                var currency = HttpContextAccessor.HttpContext.Request.Cookies["currency"] ?? "DKK"; // Standardværdi: DKK
                            }
                            @currency
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/currency/set/DKK">DKK</a>
                            <a class="dropdown-item" href="/currency/set/&euro;">&euro;</a>
                        </div>
                    </div>

@* 
                    <div class="price" id="totalPrice"> 0.00</div>
                    <div style="width:10px"></div> *@
                </div>
               
            </div>
        </div>
       @*  <div class="d-flex justify-content-between">
            <div></div><div>
                <input type="text" />
            </div>
            <div style="margin:10px;padding:10px">
                <span class="material-symbols-outlined">
                   
                </span> 
            </div>
            <div style="margin:10px;padding:10px">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span> xxx DKK
            </div>
        </div> *@
        

       @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            
            <div class="container" style="background:#a6beb6; width:100%">
                <!--  <a class="navbar-brand" asp-area="" asp-page="/Index">ImaginaryShop</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1">

                        @foreach (var category in CategoryService.GetCategories())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>



            </div>
        </nav> *@
    </header>
   
    <div class="xl-container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ImaginaryShop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

   
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>